*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.container{ 
    width: 1440px;
 

} 
.navbar{
    height: 132px;
   margin: auto;
   background-color: black;
 

}
.navbar p{
    color: white;
    font-size: 22px;
}
/* .navbar1{
  width: 1140px;
    height: 62px;
    display: flex;
    justify-content: space-around;
    align-items: center;
background-color: black;
}

.navbar1 p{
    color: white;
} */


.endpoint{
    display: flex;

}
.endpoint h1{
    font-size: 20px;
}


.welcome{
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.welcome1{
    width: 605px;
    height: 100%;
    background-color: aqua;
}
.welcome2{
    width: 510px;
    height:auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 10px;
}

.welcome2 a{
    color: black;
    background-color: orange;
    text-decoration: none;
    width: 120px;
   padding: 5px;
    border-radius: 7px;
}

.features{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.features1{
    width: 990px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width:330px;
    height: 100px;
    padding: 10px;
   
}
.card p{
    font-size: 18px;
}

.others{
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.others1{
    width: 1120px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.others2{
    display: flex;
    column-gap: 10px;
}
.other1{
    box-shadow: rgba(90, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 40, 0, 0.3) 0px 18px 36px -18px inset;
    width: 270px;
    height: 391px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.other1 p,h1,h2,span{
color: orange;
}
.other1 div{
    display: flex;
    column-gap: 5px;
}
.other1 a{
    text-decoration: none;
    color: black;
font-size: 16px;
    border-radius: 6px;
    background-color: orange;
}



@media screen and (max-width: 1140px) {
    .container{
        width: 800px;
     }
     .navbar{
        column-gap: 2px;
     }
     .navbar p{
        font-size: 16px;
     }
  .navbar img{
     width: 86px;
     height: 40px;
  }
   .navbar p{
    font-size: 18px;
   }
    
    
    .endpoint h1{
        font-size: 17px;
    }
    
    
    .welcome{
        height: 350px;
        column-gap: 10px;
    }
    .welcome1{
        width: 510px;
        height:350px;
    }
    .welcome2{
        width: 280px;
        padding: 5px;
    }
    .welcome2 h1{
font-size: 16px;
    }
    .welcome2 h2{
        font-size: 14px;
    }
    .welcome2 a{
        font-size: 13px;
    }
    .welcome2 a{
        width: 80px;
       padding: 5px;
        border-radius: 7px;
    }
    
    .features{
        height: 140px;
    }
    .features1{
        width: 700px;
        height: 140px;
    }
  
    .card{
        width:200px;
        height: 80px;
        padding: 7px;
       
    }
    .card p{
        font-size: 16px;
    }
    
    .others{
        height: 260px;
      
        margin-top: 20px;
    }
    .others1{
        width: 800px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .others2{
        display: flex;
        column-gap: 5px;
    }
    .other1{
        box-shadow: rgba(90, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 40, 0, 0.3) 0px 18px 36px -18px inset;
        width: 180px;
        height: 240px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .other1 h1{
font-size: 16px;

    }
    .other1 h2{
        font-size: 14px;
    }
    .other1 p{
        font-size: 13px;
    }
    .other1 div{
        display: flex;
        column-gap: 5px;
    }
    .other1 a{
        text-decoration: none;
        color: black;
    font-size: 12px;
        border-radius: 6px;
        background-color: orange;
    }
    


}





@media screen and (max-width: 800px) {
    .container{
        width: 500px;
     }
     .navbar{
        column-gap: 2px;
      
     }
     .navbar p{
        font-size: 14px;
     }
  .navbar img{
     width: 76px;
     height: 30px;
  }
    .navbar1{
      width: 500px;
        height: 30px;
    }
    .navbar1 p{
font-size: 12px;
    }
    .navbar1 img{
        width: 40px;
        height: 30px;
    }
    
    
    
    .endpoint h1{
        font-size: 14px;
    }
    
    
    .welcome{
        height: 200px;
        column-gap: 5px;
        margin-bottom: 80px;
    }
    .welcome1{
        width: 290px;
        height:200px;
    }
    .welcome2{
        width: 200px;
        height: 170px;
       
    }
    .welcome2 h1{
font-size: 13px;
    }
    .welcome2 h2{
        font-size: 11px;
    }
    .welcome2 a{
        font-size: 9px;
        width: 60px;
        border-radius: 5px;
    }
    .welcome2 p{
        font-size: 9px;
    }
   
    
    .features{
        height: 110px;
    }
    .features1{
        width: 500px;
        height: 140px;
    }
  
    .card{
        width:150px;
        height: 60px;
        padding: 4px;
       
    }
    .card p{
        font-size: 14px;
    }
    
    .others{
        height: 210px;
      
        margin-top: 10px;
    }
    .others1{
        width: 480px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .others2{
        display: flex;
        column-gap: 5px;
    }
    .other1{
        box-shadow: rgba(90, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 40, 0, 0.3) 0px 18px 36px -18px inset;
        width: 110px;
        height: 190px;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .other1 h1{
font-size: 12px;
margin-top: 10px;

    }
    .other1 h2{
        font-size: 12px;
    }
    .other1 p{
        font-size: 13px;
    }
    .other1 div{
        display: flex;
        column-gap: 5px;
    }
    .other1 div span{
        font-size: 10px;
    }
    .other4{
        font-size: 13px;
        margin-top: 30px;
    }
    .other1 a{
        text-decoration: none;
        color: black;
    font-size: 11px;
        border-radius: 6px;
        background-color: orange;
    }
    


}





@media screen and (max-width: 500px) {
    .container{
        width: 300px;
     }
    
     .navbar p{
        font-size: 12px;
     }
  .navbar img{
     width: 54px;
     height: 25px;
  }
    .navbar1{
      width: 300px;
        height: 20px;
    }
    .navbar1 p{
font-size: 10px;
    }
    .navbar1 img{
        width: 25px;
        height: 20px;
    }
    
    
    
    .endpoint h1{
        font-size: 12px;
    }
    
    
    .welcome{
        height: 130px;
        column-gap: 3px;
        margin-top: 30px;
     
    }
    .welcome1{
        width: 180px;
        height:160px;
    }
    .welcome2{
        width: 120px;
        height: 110px;
       
    }
    .welcome2 h1{
font-size: 10px;
    }
    .welcome2 h2{
        font-size: 8px;
    }
    .welcome2 a{
        font-size: 9px;
        width: 40px;
        border-radius: 5px;
    }
    .welcome2 p{
        font-size: 8px;
    }
   
    
    .features{
        height: 80px;
    }
    .features1{
        width: 300px;
        height: 90px;
    }
  
    .card{
        width:90px;
        height: 40px;
        padding: 4px;
       
    }
    .card p{
        font-size: 11px;
    }
    
    .others{
        height: 170px;
      
        margin-top: 10px;
    }
    .others1{
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .others2{
        display: flex;
        column-gap: 5px;
    }
    .other1{
        box-shadow: rgba(90, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 40, 0, 0.3) 0px 18px 36px -18px inset;
        width: 70px;
        height: 160px;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .other1 h1{
font-size: 12px;
margin-top: 10px;

    }
    .other1 h2{
        font-size: 12px;
    }
    .other1 p{
        font-size: 13px;
    }
    .other1 div{
        display: flex;
        column-gap: 5px;
    }
    .other1 div span{
        font-size: 10px;
    }
    .other4{
        font-size: 13px;
        margin-top: 30px;
    }
    .other1 a{
        text-decoration: none;
        color: black;
    font-size: 11px;
        border-radius: 6px;
        background-color: orange;
    }
    


}